// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
:root {
  --ion-color-primary: #2563EB;
  --ion-color-primary-rgb: 37,99,235;
  --ion-color-success: #22C55E;
  --ion-color-danger: #EF4444;
  --ion-color-light: #F3F4F6;
  --ion-color-dark: #1F2937;
}